{% for block in entry.pricingContent.all() %}

{% switch block.type %}
	
	{% case "pricingHeader" %}
	<section class="small-header" style="background-image: url({{ siteUrl }}{{ block.backgroundImage.one().getUrl() }});">
		<div class="inner">
		<div class="small-header-title">
			<h1>{{ block.headerTitle }}</h1>
		</div>
		</div>
	</section>

	
	{% case "pricingIntro" %}
	<div class="standard-wrapper">
	<div class="pricing-intro">
			<div class="intro-title">
				<h2>{{ block.introTitle }}</h2>
			</div>
			<div class="intro-description">
				{{ block.introDescription }}
			</div>
	</div>
	</div>

	{% case "prices" %}
	<div class="price-section standard-wrapper">
	{% set priceEntry = block.pricesTable.all() %}
	
	{% if block.isHorizontalTable %}
		<div class="horizontal-price-table" >
			<table cellspacing="2">
				<tbody>
					<tr class="column-title">
						<td></td>
						<td class="column-heading">Individuals</td>
						<td class="column-heading">Group 4+</td>
						<td class="column-heading">Group 8+</td>
					</tr>
					{% for entry in priceEntry %}
					{% if entry.isFeatured %}
					{% set displayButton = 'featuredButton' %}
					{% set rowActive = "row-active" %}
					{% set rowColor = "white-background" %}
					{% else %}
					{% set displayButton = 'noButton' %}
					{% set rowActive = "row-not-active" %}
					{% set rowColor = "price-row" %}
					{% endif %}
					<tr class="price-row {{ rowActive }}">
						<td class="main-column"><span class="heading">{{ entry.tableHeading }}</span><br><span class="status">{{entry.tableStatus}}</span><br><span class="{{ displayButton }}"><a href="{{ entry.linkNameUrl }}" class="button-block">{{ entry.linkName }}</a></span></td>
						<td class="price-data {{ rowColor }}"><span class="mobile-column-heading column-heading">Individuals</span>{{ entry.individualsPrice }}</td>
						<td class="price-data {{ rowColor }}"><span class="mobile-column-heading column-heading">Group 4+</span>{{ entry.group4Price }}</td>
						<td class="price-data {{ rowColor }}"><span class="mobile-column-heading column-heading">Group 8+</span>{{ entry.group8Price }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
		</div>
		
	
	{% else %}
	{% for entry in priceEntry %}
		{% if entry.isFeatured %}
		<ul class="price-table featured-table">
			<li class="featured-row">Now Open</li>	
			<li class="title-row"><h3 class="list-heading">{{ entry.tableHeading}}</h3>
			    <div class="ticket-description">{{ entry.tableStatus }}</div>
			</li>
			<li>{{entry.tableListItems}}</li>
			<li class="price">{{entry.tablePricing}}</li>
			<div><a href="{{ entry.linkNameUrl }}" class="button-block">{{ entry.linkName }}</a></div>
		</ul>
			   
		{% else %}
		<ul class="price-table">
			<li class="empty-row"></li>
			<li class="title-row"><h3 class="list-heading">{{ entry.tableHeading}}</h3>
			   	<div class="ticket-description">{{ entry.tableStatus }}</div>
			</li>
			<li>{{entry.tableListItems}}</li>
			<li class="price">{{entry.tablePricing}}</li>
		</ul>
		{% endif %}
	 
	{% endfor %}
{% endif %} 
	</div>

	<div class="copy-section standard-wrapper">
	{% case "pricingCopy" %}
	<div class="pricing-copy">
			<div class="copy-title">
				<h2>{{ block.copyTitle }}</h2>
			</div>
			<div class="copy-description">
				{{ block.copyDescription }}
			</div>
	</div>

	{% case "pricesDisclaimer" %}
		<div class="top-border">{{ block.description }}</div>
	</div><!-- end copy-section -->
	
	{% case "sideBlock" %}
        {% if block.isWhiteBackground %}
          {% set divColor = 'white-background-color' %}
        {% else %}
          {% set divColor = 'background-color' %}
        {% endif %}
        {% if block.isBlockOnTheRight %}
          {% set divPosition = 'float-right' %}
        {% else %}
          {% set divPosition = 'float-left' %}
        {% endif %}
  			<div class="side-block" style="background-image: url({{siteUrl}}{{ block.blockBackgroundImage.one().getUrl() }})">
  				<div class="standard-wrapper {{ divPosition }}">
  					<div class="inner {{ divColor }}">
  						<div class="block-title"><h2>{{ block.blockTitle }}</h2></div>
  						<div class="block-teaser"><p>{{ block.blockTeaser }}</p></div>
  						<div class="block-description">
  							<p><strong>{{ block.strongWord }}</strong> {{ block.blockDescription }}</p>
  						</div>
              			<div><a href="{{ block.linkUrl }}" class="button-block">{{ block.linkText }}</a></div>
  					</div>
  				</div>
  			</div>
		
	{% default %}

	

{% endswitch %}
{% endfor %}

