{% for block in entry.pricingContent.all() %}

{% switch block.type %}
	
	{% case "pricingHeader" %}
	<section class="small-header" style="background-image: url({{ siteUrl }}{{ block.backgroundImage.one().getUrl() }});">
		<div class="inner">
		<div class="small-header-title">
			<h1>{{ block.headerTitle }}</h1>
		</div>
		</div>
	</section>

	
	{% case "pricingIntro" %}
	<div class="standard-wrapper">
	<div class="pricing-intro">
			<div class="intro-title">
				<h2>{{ block.introTitle }}</h2>
			</div>
			<div class="intro-description">
				{{ block.introDescription }}
			</div>
	</div>
	</div>

	{% case "prices" %}
			<div class="price-section standard-wrapper">
			{% set priceEntry = block.pricesTable.all() %}
			{% for entry in priceEntry %}
			{% if entry.isFeatured %}
				<ul class="price-table featured-table">
					<li class="featured-row">Now Open</li>	
			    	<li class="title-row"><h3 class="list-heading">{{ entry.tableHeading}}</h3>
			    		<div class="ticket-description">{{ entry.tableStatus }}</div>
			    	</li>
			    	<li>{{entry.tableListItems}}</li>
			    	<li class="price">{{entry.tablePricing}}</li>
			    	<div><a href="{{ entry.linkNameUrl }}" class="button-block">{{ entry.linkName }}</a></div>
			    </ul>
			   
			{% else %}
			    <ul class="price-table">
			    	<li class="empty-row"></li>
			    	<li class="title-row"><h3 class="list-heading">{{ entry.tableHeading}}</h3>
			    		<div class="ticket-description">{{ entry.tableStatus }}</div>
			    	</li>
			    	<li>{{entry.tableListItems}}</li>
			    	<li class="price">{{entry.tablePricing}}</li>
			    </ul>
			{% endif %}   
			{% endfor %}
			</div>
	{% case "horizontalTable" %}
	<div class="standard-wrapper">
		{% if block.priceListTable|length %}
			<table style="border: 1px solid #000000; width: 100%;">
				<tr>
					<th></th>
					<th>Individuals</th>
					<th>Group 4+</th>
					<th>Group 8+</th>
				</tr>
				{% for row in block.priceListTable %}
				<tr>
				   	<td>{{ row.registration }}</td> <td>{{ row.individuals }}</td> <td>{{ row.group4 }}</td> <td>{{ row.group8 }}</td>
				</tr>
				{% endfor %}
			</table>
		{% endif %}
		
	</div>

	{% case "horizontalSuperTable" %}
	<div class="standard-wrapper">
		
			<table style="border: 1px solid #000000; width: 100%;">
				<tr>
					<th></th>
					<th>Individuals</th>
					<th>Group 4+</th>
					<th>Group 8+</th>
				</tr>
				{% for row in block.priceListSuperTable.all() %}
				<tr>
    				{% for block in row.matrix.all() %}
        				{% if block.type == 'ticketSaleDates' %}
        					{% for block in ticketType %}
        					    <div>{{ block.ticketTypeName }}</div>
        					    <div>{{ block.ticketTypeDate }}</div>
        					{% endfor %}	
        				{% endif %}
    				{% endfor %}
    			</tr>
				{% endfor %}
			</table>
		
	</div>
	<div class="copy-section standard-wrapper">
	{% case "pricingCopy" %}
	<div class="pricing-copy">
			<div class="copy-title">
				<h2>{{ block.copyTitle }}</h2>
			</div>
			<div class="copy-description">
				{{ block.copyDescription }}
			</div>
	</div>

	{% case "pricesDisclaimer" %}
		<div class="top-border">{{ block.description }}</div>
	</div><!-- end copy-section -->
	
	{% case "sideBlock" %}
        {% if block.isWhiteBackground %}
          {% set divColor = 'white-background-color' %}
        {% else %}
          {% set divColor = 'background-color' %}
        {% endif %}
        {% if block.isBlockOnTheRight %}
          {% set divPosition = 'float-right' %}
        {% else %}
          {% set divPosition = 'float-left' %}
        {% endif %}
  			<div class="side-block" style="background-image: url({{siteUrl}}{{ block.blockBackgroundImage.one().getUrl() }})">
  				<div class="standard-wrapper {{ divPosition }}">
  					<div class="inner {{ divColor }}">
  						<div class="block-title"><h2>{{ block.blockTitle }}</h2></div>
  						<div class="block-teaser"><p>{{ block.blockTeaser }}</p></div>
  						<div class="block-description">
  							<p><strong>{{ block.strongWord }}</strong> {{ block.blockDescription }}</p>
  						</div>
              			<div><a href="{{ block.linkUrl }}" class="button-block">{{ block.linkText }}</a></div>
  					</div>
  				</div>
  			</div>
		
	{% default %}

	

{% endswitch %}
{% endfor %}

