{% for block in entry.speakersContent.all() %}
{% switch block.type %}

	{% case "speakersHeader" %}
	<section class="small-header" style="background-image: url({{siteUrl}}{{ block.backgroundImage.one().getUrl() }});">
		<div class="inner">
		<div class="small-header-title">
			<h1>{{ block.headerTitle }}</h1>
		</div>
		</div>
	</section>

	{% case "speakersIntro" %}
	<div class="speakers-intro">
		<div class="inner">
			<div class="intro-title">
				<h2>{{ block.introTitle }}</h2>
			</div>
			<div class="intro-description">
				<p>{{ block.introDescription }}</p>
			</div>
		</div>
	</div>

	{% case "speakersList" %}
	<div class="speaker-list">
	<div class="left-image left-list"><img class="lazy" src="{{siteUrl}}{{block.leftImage.one().getUrl()}}" data-srcset="{{siteUrl}}{{block.leftImage.one().getUrl()}}" /></div>
	<div class="list right-list">
		<ul class="no-list-style">
			{% set speakersEntry = block.speakers.all() %}
            {% for entry in speakersEntry %}
            <li><span class="speaker-name">{{ entry.speakerName }}</span><br><span class="speaker-job">{{ entry.speakerCompany }}</span></li>
            {% endfor %}
		</ul>
	</div>
	<div class="right-image"><img class="lazy" src="{{siteUrl}}{{block.rightImage.one().getUrl()}}" data-srcset="{{siteUrl}}{{block.rightImage.one().getUrl()}}" /></div>
	</div>
	{% default %}

{% endswitch %}


{% endfor %}













