<nav class="navbar navbar-expand-lg main-menu">
  <div class="standard-wrapper">
    <div class="navbar-brand logo logo-white visible"><a href="https://conference.ungerboeck.com"><img src="{{siteUrl}}{{entry.menuLogo.one().getUrl()}}"/></a></div>
  </div>
</nav>
<section class="main-header front">
  
  <canvas id="lamp-anim" class="lamp-anim"></canvas>
  
  <div class="header-content large-padding">
  
    <div class="logo">
      <img src="{{siteUrl}}{{ entry.conferenceLogo.one().getUrl() }}" />
    </div>
    
    <div class="intro">
      <h1><span class="typewriter">{{entry.animatedText}}</span></h1><h1>{{entry.introText}}</h1>
    </div>
  </div>
  
</section>

<section class="blobs">
  <img src="{{siteUrl}}images/Sphere_05.png" data-srcset="{{siteUrl}}images/Sphere_05.png" class="lazy blob blob1" />
  <img src="{{siteUrl}}images/Sphere_06.png" data-srcset="{{siteUrl}}images/Sphere_06.png" class="lazy blob blob2" />
  <img src="{{siteUrl}}images/Sphere_05.png" data-srcset="{{siteUrl}}images/Sphere_05.png" class="lazy blob blob3" />
  <img src="{{siteUrl}}images/Sphere_06.png" data-srcset="{{siteUrl}}images/Sphere_06.png" class="lazy blob blob4" />
  <img src="{{siteUrl}}images/Sphere_05.png" data-srcset="{{siteUrl}}images/Sphere_05.png" class="lazy blob blob5" />
  <img src="{{siteUrl}}images/Sphere_06.png" data-srcset="{{siteUrl}}images/Sphere_06.png" class="lazy blob blob6" />
  <img src="{{siteUrl}}images/Sphere_06.png" data-srcset="{{siteUrl}}images/Sphere_05.png" class="lazy blob blob7" />
</section>
{% for block in entry.bodyContent.all() %}
      {% switch block.type %}
        
        {% case "pageCopy" %}
          <section class="front">
          <div class="page-copy large-padding standard-wrapper left-align">
            <div class="page-copy-text">
              <div>
                <h1 class="page-copy-title purple-text">{{ block.copyHeader }}</h1>
                <div class="page-copy-description">
                  <div>{{ block.copyDescription }}</div>
                </div>
              </div>
              {% if block.linkText|length %}
              <div class="cta-button"><a href="{{ block.linkUrl }}" class="button-block">{{ block.linkText }}</a></div>
              {% endif %}
            </div>
          </div>
        </section>
    
        {% case "imageSlider" %}
        
        <div class="slider-block large-padding front thank-you-slider-block">
          <div class="standard-wrapper">
          <div class="block-title">{{ block.blockTitle }}</div>
          <div class="link"><a href="{{ block.linkUrl }}">{{ block.linkText }}</a></div>
        </div>
        {% set imageEntries = block.images.all() %}  
        {% for entry in imageEntries %}
        {% if loop.first %}
         
        <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="indicator"><p>Swipe</p></div>
          <div class="swiper-wrapper">
        {% endif %}
            <!-- Slides -->
            <div class="swiper-slide"><img class="lazy" src="{{siteUrl}}{{entry.sliderImage.one().getUrl()}}" data-srcset="{{siteUrl}}{{entry.sliderImage.one().getUrl()}}"/></div>
        {% if loop.last %}</div></div>{% endif %}
        {% endfor %}
        </div>
      
        {% default %}
        
        
      {% endswitch %}
      
{% endfor %}