{% extends '_layouts/main' %}

{% block main %}

{# Temporary redirect for global conference #}
{% if craft.app.request.getSegment(1) == "global-conference" %}
    {% redirect "thank-you" 302 %}
{% endif %}

{% set mainEntry = craft.entries.slug(craft.app.request.getSegment(1)).one() %}

{% if mainEntry %} 
{% set menuLogo = mainEntry.menuLogo %}
{% set academyLink = craft.entries.descendantOf(mainEntry).slug('academy').one() %}
{% set navLink = craft.entries.descendantOf(mainEntry).mainLevelNavigation('1').all() %}
{% set registerLink = mainEntry.registerLink %}
{% set subnav = craft.entries.descendantOf(mainEntry).secondLevelNavigation('1').all() %}
{% set subnav2 = craft.entries.descendantOf(academyLink).level(3).all() %}


<nav class="navbar navbar-expand-lg main-menu">
	<div class="standard-wrapper">
		{% if menuLogo|length %}
		<div class="navbar-brand logo logo-white visible"><a href="https://conference.ungerboeck.com"><img src="{{siteUrl}}{{menuLogo.one().getUrl()}}"/></a></div>
		{% endif %}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="myFunction(this)">
			<span class="navbar-toggler-icon">
			<div class="bar1"></div>
  			<div class="bar2"></div>
  			<div class="bar3"></div></span>
		</button>

		<div class="collapse navbar-collapse float-right menu" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto no-list-style">
				<li class="nav-item active">
					<a class="" href="{{mainEntry.getUrl()}}">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Conference
					</a><i class="dropdown-toggle fa fa-chevron-down" data-toggle="dropdown"></i>
					<div class="dropdown-menu sub-menu" aria-labelledby="navbarDropdown">
						<ul class="no-list-style">
							{% for page in subnav %}
							<li class="nav-item">
								{{ page.link }}
							</li>
							{% endfor %}
						</ul>
					</div>
				</li>
				{% if academyLink|length %}
				<li class="nav-item dropdown"><a class="dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Academy</a><i class="dropdown-toggle fa fa-chevron-down" data-toggle="dropdown"></i>
					<div class="dropdown-menu sub-menu" aria-labelledby="navbarDropdown">
						<ul class="no-list-style">
							<li><a href="{{ academyLink.getUrl() }}">Program</a></li>
							{% for page in subnav2 %}
							<li class="nav-item">
								{{ page.link }}
							</li>
							{% endfor %}
						</ul>
					</div>
				</li>
				{% endif %}
				{% for page in navLink %}
					<li class="nav-item">
						{{ page.link }}
					</li>
				{% endfor %}
				{% if registerLink|length %}
				<li class="nav-item"><a class="nav-link" href="{{registerLink}}">REGISTER</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endif %}

{% include "conferences/_types/" ~ entry.type %}

{% endblock %}
