
<section class="main-header">
  
	<div class="video-overlay"></div>
	<video class="video-header" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
		<source src="{{siteUrl}}videos/background-videos{{ entry.conferenceBackgroundVideo.one().getUrl() }}" type="video/mp4" media="">
	</video>
 

	<div class="header-content">
   
		<div class="logo">
			<img src="{{siteUrl}}images/logos/{{ entry.conferenceLogo.one().getUrl() }}" />
		</div>
    
		<div class="dates">
			{{ entry.conferenceDates }}
		</div>
	</div>
		
</section>


{% for block in entry.bodyContent.all() %}
  		{% switch block.type %}
  			{% case "ceoIntro" %}
        <div class="standard-wrapper">

  			<div class="inner">
          <div class="image-wrapper">
  				  <img class="ceo-image" src="{{siteUrl}}images/background-images{{ block.ceoImage.one().getUrl() }}" />
          </div>

  				<div class="ceo-text">
  					<div class="headshot-title"><h1>{{ block.ceoTitle }}</h1></div>
  					<div class="headshot-quote"><p>{{ block.ceoQuote }}</p></div>
  					<div class="quote-caption"><p><em>{{ block.quoteCaption }}</em></p></div>
  				</div>
  			</div>

      </div>

  			{% case "pageCopy" %}
        {% if block.centeredContent %}
  			<div class="page-copy text-center" style="background-image: url({{siteUrl}}images/background-images{{ block.backgroundImage.one().getUrl() }});">
  				<div class="page-copy-text">
  					<div>
  						<h1 class="page-copy-title"><p>{{ block.copyHeader }} <strong>{{ block.strongWord }}</strong></p></h1>
  						<p class="page-copy-description">{{ block.copyDescription }}</p>
  					</div>
  				</div>
  			</div>

        {% else %}
        <div class="page-copy" style="background-image: url({{siteUrl}}images/background-images{{ block.backgroundImage.one().getUrl() }})">
          <div class="page-copy-text">
            <div>
              <h1 class="page-copy-title"><p>{{ block.copyHeader }} <strong>{{ block.strongWord }}</strong></p></h1>
              <p class="page-copy-description">{{ block.copyDescription }}</p>
            </div>
          </div>
        </div>
        {% endif %}
  		
  			{% case "sideImage" %}

  			{% if block.mediaOnLeft %}
  			<div class="side-image">
  				<div class="side-image-image side-image-block">
            <div class="parallax" style="background: url({{siteUrl}}images/background-images{{ block.image.one().getUrl() }}) center center / cover no-repeat;"></div>
          </div>
  				<div class="image-text side-image-block">
  					<div><h2 class="image-title">{{ block.imageTitle }}</h2></div>
  					<div class="image-teaser">{{ block.imageTeaser }}</div>
  					<div class="image-description"><p>{{ block.imageDescription }}</p></div>
  				</div>
  			</div>
			{% else %}
			<div class="side-image">
				<div class="image-text side-image-block">
					<div><h2 class="image-title">{{ block.imageTitle }}</h2></div>
					<div class="image-teaser">{{ block.imageTeaser }}</div>
					<div class="image-description"><p>{{ block.imageDescription }}</p></div>
				</div>
				<div class="side-image-image side-image-block">
            <div class="parallax" style="background: url({{siteUrl}}images/background-images{{ block.image.one().getUrl() }}) center center / cover no-repeat;"></div>
        </div>
			</div>
			{% endif %}
  			

  			{% case "coloredDivider" %}
  			<div class="divider" style="background-image: url({{siteUrl}}images/background-images{{ block.backgroundImage.one().getUrl() }})">
          <div>
  				  <div class="divider-title"><h1>{{ block.dividerTitle }}</h1></div>	
  				  <div class="divider-description"><p><strong>{{block.strongWord}}</strong> {{ block.dividerDescription }}</p></div>
  				</div>
  			</div>	

  			{% case "sideBlock" %}
        {% if block.isWhiteBackground %}
          {% set divColor = 'white-background-color' %}
        {% else %}
          {% set divColor = 'background-color' %}
        {% endif %}
        {% if block.isBlockOnTheRight %}
          {% set divPosition = 'float-right' %}
        {% else %}
          {% set divPosition = 'float-left' %}
        {% endif %}
  			<div class="side-block" style="background-image: url({{siteUrl}}images/background-images{{ block.blockBackgroundImage.one().getUrl() }})">
  				<div class="standard_wrapper {{ divPosition }}">
  					<div class="inner {{ divColor }}">
  						<div class="block-title"><h2>{{ block.blockTitle }}</h2></div>
  						<div class="block-teaser"><p>{{ block.blockTeaser }}</p></div>
  						<div class="block-description">
  							<p><strong>{{ block.strongWord }}</strong> {{ block.blockDescription }}</p>
  						</div>
              <div class="button-block">{{ block.button }}</div>
  					</div>
  				</div>
  			</div>
  			
  			
  			{% default %}
  			
  			
  		{% endswitch %}
  		
{% endfor %}


