{% for block in entry.programList.all() %}
	{% switch block.type %}
		{% case "programHeader" %}
		{% if block.backgroundImage|length %}
		<section class="small-header" style="background-image: url({{siteUrl}}images/background-images{{ block.backgroundImage.one().getUrl() }});">
			<div class="inner">
				<div class="small-header-title">
					<h1>{{ block.headerTitle }}</h1>
				</div>
			</div>
		</section>
		{% else %}
		<section class="small-header--no-image">
			<div class="inner">
				<div class="small-header-title">
					<h1>{{ block.headerTitle }}</h1>
				</div>
			</div>
		</section>
		{% endif %}

		
		{% case "programIntro" %}
		
		{% if block.isTextCentered %}
			{% set textAlign = 'center-align' %}
		{% else %}
          {% set textAlign = 'left-align' %}
		{% endif %}
		<div class="standard-wrapper intro-block {{ textAlign }}">
			<div class="intro-title">
				<h2>{{ block.introTitle }}</h2>
			</div>
			<div class="intro-description">
				<p>{{ block.introDescription }}</p>
			</div>
			{% if block.button|length %}
			<div class="button-block">{{block.button}}</div>
			{% endif %}
		</div>
		

		
		{% case "programContent" %}
			{% for entry in craft.entries.relatedTo(block).section('programs').all() %}
			{% if loop.first %}<div class="standard-wrapper tables-row">{% endif %}
			    <ul class="no-list-style">
			    	<li class="list-heading">{{ entry.programHeader}}</li>
			    	{% for block in entry.programDetails.all() %}
			    	<li>
			    		<div class="list-details">{{block.programTimeSlot }}<br/>{{block.programTitle }}</div>
			    	</li>      
			    	{% endfor %}
			    </ul>
			 {% if loop.last %}</div>{% endif %}
			{% endfor %}

		{% default %}
		
	{% endswitch %}
	
{% endfor %}
